<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create Reservation</title>
<style>
	#title {
		background-color: lightblue;
		color: black;
		padding: 40px;
		text-align: center;
		border-style: solid;
	} 
	
	body{
		background-color: #E6E6DC;
	}
	
	#movieInfo{
		padding-left: 30%;
	}
	
	img {
		width: 300px;
	}
	
	#movieInfo {
		padding-right: 30px;
	}
	
	.flex-container {
		display: flex;
		flex-wrap: nowrap;
		padding: 30px;
	}
</style>
</head>
<body>
	<div id="title">
		<h1>JAZZ Cinemas</h1>
	</div>
	
	<div id="movieChoice" class="flex-container">
		<div id="movieInfo">
			<img th:src="@{${movieChoice.imageUrl}}" />
		</div>
		
		<div id="numOfTickets">
			<h2><p th:inline="text">Choose Your Number of Tickets for [[${movieChoice.movieName}]]:</p></h2>
				<form action="#" th:action="@{/movies/success}" method="get">
					<input type="hidden" name="movieNumber"  th:value="${movieNumber}"   />
					<input type="radio" value="1" name="ticketsRequested">
					<label for="1">1 Ticket</label><br />
					<input type="radio" value="2" name="ticketsRequested">
					<label for="2">2 Tickets</label><br />
					<input type="radio" value="3" name="ticketsRequested">
					<label for="3">3 Tickets</label><br />
					<input type="radio" value="4" name="ticketsRequested">
					<label for="4">4 Tickets</label>
					<br /><br />
					
					<label for="movieTimes">Choose a movie time:</label>
					<select id="movieTimes" name="movieTimes">
						<option value="12:00pm">12:00pm</option>
						<option value="2:00pm">2:00pm</option>
						<option value="4:00pm">4:00pm</option>
						<option value="6:00pm">6:00pm</option>
					</select>
					<br/><br/>
					<button type="submit" name="reserveId">Submit</button>
				</form>
		</div>
	</div>
	<br/><br/><br/>
	
</body>
</html>