<!DOCTYPE html>
<html xmls:th="www.whymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Showtimes</title>
<style>
	#title {
		background-color: lightblue;
		color: black;
		padding: 40px;
		text-align: center;
		border-style: solid;
	} 
	
	#movies_list li {
		display: inline-block;
		padding: 12px;
		justify-content: center;
		border-style: ridge;
	}
	
	ul{
		text-align: center;
		padding: 10px;
	}
	
	img{
		width: 200px;
		height: 300px;
		padding: 30px;
	}
	
	body{
		background-color: #E6E6DC;
	}
	
	p, button{
		font-size: 20px;
	}
	
</style>
</head>
<body>
	<div id="title">
		<h1>JAZZ Cinemas</h1>
	</div>

	<ul id="movies_list">
		<li>
			<div id="movie1">
				<img th:src="@{${movie1.imageUrl}}" />
				<p th:inline="text">[[${movie1.movieName}]]</p>
				<br />
				<p th:inline="text">[[${movie1.releaseDate}]]</p>
				<br />

				<form action="#" th:action="@{/movies/reservation}" method="get">
					<button type="submit" value="0" name="reserveId">Reserve</button>
					<br />
				</form>
			</div>
		</li>

		<li>
			<div id="movie2">
				<img th:src="@{${movie2.imageUrl}}" />
				<p th:inline="text">[[${movie2.movieName}]]</p>
				<br />
				<p th:inline="text">[[${movie2.releaseDate}]]</p>
				<br />

				<form action="#" th:action="@{/movies/reservation}" method="get">
					<button type="submit" value="1" name="reserveId">Reserve</button>
					<br />
				</form>
			</div>
		</li>

		<li>
			<div id="movie3">
				<img th:src="@{${movie3.imageUrl}}" />
				<p th:inline="text">[[${movie3.movieName}]]</p>
				<br />
				<p th:inline="text">[[${movie3.releaseDate}]]</p>
				<br />

				<form action="#" th:action="@{/movies/reservation}" method="get">
					<button type="submit" value="2" name="reserveId">Reserve</button>
					<br />
				</form>
			</div>
		</li>
	</ul>
	
	<ul id="movies_list">
		<li>
			<div id="movie4">
				<img th:src="@{${movie4.imageUrl}}" />
				<p th:inline="text">[[${movie4.movieName}]]</p>
				<br />
				<p th:inline="text">[[${movie4.releaseDate}]]</p>
				<br />

				<form action="#" th:action="@{/movies/reservation}" method="get">
					<button type="submit" value="3" name="reserveId">Reserve</button>
					<br />
				</form>
			</div>
		</li>

		<li>
			<div id="movie5">
				<img th:src="@{${movie5.imageUrl}}" />
				<p th:inline="text">[[${movie5.movieName}]]</p>
				<br />
				<p th:inline="text">[[${movie5.releaseDate}]]</p>
				<br />

				<form action="#" th:action="@{/movies/reservation}" method="get">
					<button type="submit" value="4" name="reserveId">Reserve</button>
					<br />
				</form>
			</div>
		</li>

		<li>
			<div id="movie6">
				<img th:src="@{${movie6.imageUrl}}" />
				<p th:inline="text">[[${movie6.movieName}]]</p>
				<br />
				<p th:inline="text">[[${movie6.releaseDate}]]</p>
				<br />

				<form action="#" th:action="@{/movies/reservation}" method="get">
					<button type="submit" value="5" name="reserveId">Reserve</button>
					<br />
				</form>
			</div>
		</li>
	</ul>

</body>
</html>